*{
  margin: 0;padding: 0; box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}
html{
  background: black;
}

header{
  width:100%; height: 100vh;
  background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("ad_bg.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: 140px 0;

}
nav{
  width: 100%; height: 13vh;
  background: rgba(20,20,20,0.7);
  color:red; display: flex; justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
nav .logo{
  width: 28%;
  height: 50px;
  text-align: center;
  color: rgb(229,9,20);
  text-shadow: 2px 2px 8px black;
  font-size: 30px;
  text-transform: capitalize;
  font-weight: bolder;
}

nav .menu{
  width:40%;

  display: flex;
  justify-content: space-around;

}

nav .menu a{

  text-decoration: none;
  margin: 20px 0 20px 0;
  padding: 12px 30px;
  border-radius: 4px;
  outline: none;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing:1px;
  transition: all .5s;
}



main{
  width:100%;
  height: 85%;
  display: flex;
  justify-content:center;
  align-items: center;
  text-align: center;

}
section h1{
  font-size: 50px;font-weight:600;letter-spacing: 2px;
  font-family: 'Lato', sans-serif;!important
  word-spacing: 3px;
  text-transform: capitalize;
  color: white;
  text-shadow: 2px 2px 10px black;
}

section h2{
  margin: 10px 0 10px 0;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  text-transform: capitalize;
  font size:40px;
  font-weight: 600;
  color: white;
  word-spacing: 3px;
  text-shadow: 2px 2px 10px black;
}
section h3{
  margin:10px 0 10px 0;
  letter-spacing: 1px;
  color:white;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  word-spacing: 3px;
  text-transform: capitalize;
  font-weight: 600;
  text-shadow: 2px 2px 10px black;
}

  section a{
    margin: 20px 0 20px 0;
    padding: 12px 30px;
    position: relative;top: 20px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
    letter-spacing:1px;
    transition: all .5s ease;
  }
  section .btthree{

    background:white;
    color:#000;
  }

  section .btthree:hover{
    transform: translateY(-2px);
    box-shadow: .5rem .5rem 3rem rgba(0,0,0,.2);
    background: rgb(220,9,20);
  }

div .btone{
  background: #fff;
  color:#000;
}

.btone:hover{
  transform: translateY(-2px);
  box-shadow: .5rem .5rem 2rem rgba(0,0,0,.2);
  background: #00b894;
  color: white;
}

div .bttwo{
  background: #fff;
  color:#000;
}

.bttwo:hover{
  transform: translateY(-2px);
  box-shadow: .5rem .5rem 2rem rgba(0,0,0,.2);
  background:  #E50914;
  color: white;
}

 .loginbox{
   width: 320px;
   height: 450px;
   background: #000;
   color: #fff;
   position: relative;
   top: 30px;
   text-align: left;
   box-sizing: border-box;
   padding: 70px 30px;
}

div .avatar{
  height: 120px;
  width: 120px;
  position: absolute;
  top: -60px;
  left: calc(50% - 60px);

}
  .lo{
   padding: 10px 0 30px;
   text-align: center;
   text-transform: capitalize;
   font-size: 30px;
 }

.loginbox p{
  font-weight: bold;
}
.loginbox input{
  width: 100%;
  margin-bottom: 20px;
}
 .loginbox input[type="text"],input[type="password"],input[type="email"]{
   border:none;
   border-bottom: 1px solid #fff;
   background: transparent;
   outline: none;
   height:25px;
   color:red;
   font-size: 15px;
 }

.loginbox input[type="submit"]{
  padding: 0.3rem 1.5rem;
  border-radius: 1rem;
  outline: none;
  text-transform: uppercase;
  font-size: 30px;
  text-decoration: none;
  letter-spacing:1px;
  width: 100%;
  height: 2.6rem;
  background: white;
  font-family: 'David Libre', serif;
  transition: all .5s;
}

.loginbox input[type="submit"]:hover{
  transform: translateY(-2px);
  box-shadow: .5rem .5rem 2rem rgba(0,0,0,.2);
  background: rgb(220,9,20);
  color: white;
}

.sub{
  width: 820px;
  height: 230px;
  justify-content: center;
  text-transform: capitalize;
  color: rgb(229,9,20);
  text-shadow: 2px 2px 8px black;
}

.sub h1{
color:white;
}

.sub a{
  margin: 20px 0 20px 0;
  padding: 12px 30px;
  position: relative;top: 20px;
  border-radius: 4px;
  outline: none;
  text-transform: uppercase;
  font-size: 20px;
  text-decoration: none;
  letter-spacing:1px;
  background: rgb(229, 9, 20);

}

.intro{
  width:100vh;
  height:130px;
  color: white;
  text-transform: capitalize;
  padding-left:10px;

}

.float-container{

  border:3px solid #000;
  height: 260px;
}

.float-child{
  width: 50%;
  height: 260px;
  float: left;
  padding:20px;
  background: white;
  text-transform: capitalize;
}

.duration{
  width: 100%;
  height:25vh;
  color:white;
  margin-left: 10px;
  margin-top: 10px;

}
 .duration input[type="submit"]{
   margin: 4px 0 6px 0;
   padding: 12px 30px;
   position: relative;
   top:-35px;

   border-radius: 4px;
   outline: none;
   text-transform: uppercase;
   font-size: 20px;
   text-decoration: none;
   letter-spacing:1px;
   background: rgb(229, 9, 20);

 }


.blue p{
  padding: 20px 0 20px;
  font-weight: bolder;
  font-size: 30px;
}

.blue li{
  padding: 10px 0 10px;
}

.blue input[type="radio"]{
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 20px;
  font-size: 15px;
  letter-spacing:1px;
  margin-top: : 20px;

}

.green p{
  padding: 20px 0 20px;
  font-weight: bolder;
  font-size: 30px;
}

.green li{
  padding: 10px 0 10px;
}

.green input[type="radio"]{

  text-transform: uppercase;
  font-size: 20px;
  font-size: 15px;
  letter-spacing:1px;
  margin-top: : 20px;

}

.intro a{
  margin: 20px 0 20px 0;
  padding: 12px 30px;
  position: relative;top: 20px;
  border-radius: 4px;
  outline: none;
  text-transform: uppercase;
  font-size: 20px;
  text-decoration: none;
  letter-spacing:1px;
  background: rgb(229, 9, 20);

}

.choose h1{
  color: white;
  font-size: 30px;
}
